.home-container{
  margin: 5%;
  border: 1px #090C43 solid;
  border-radius: 13px;
  min-height: 65vh;
  padding: 5%;
}
.contact-us{
  background: #090C43;
  border-radius: 16px;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
